/*-- NORMAL DISPLAY --*/
.search-box {
  padding: 0 20% 0 20%;
  margin-top: 20px;
  text-shadow: none;
}
.search-box .input-group-addon {
  padding: 0 5px 0 5px;
}
.search-box .dropdown-toggle {
  height: 25px;
  padding: 0 5px 2px 5px;
}
.search-input {
  max-width: 975px;
}
.input-group-btn button {
  height: 34px;
}
/*--// NORMAL DISPLAY --*/

/*-- DISPLAY: 800px --*/
@media (max-width: 800px) {
  .search-box {
    padding: 0 6% 0 6%;
    margin-top: 20px;
  }
}
/*--// DISPLAY: 800px --*/
