<div class="search-box">
  <div class="input-group search-input">
    <span class="input-group-addon" id="basic-addon1">
      <span>{{ $t('searchbox.iWant') }}</span>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        'searchbox.' + menuItem.getAction() + 'Action'
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href=""><!--changeMenuItemType('eat')--> {{ $t('searchbox.eatAction') }}</a>
        </li>
        <li>
          <a href=""><!--changeMenuItemType('drink')--> {{ $t('searchbox.drinkAction') }}</a>
        </li>
      </ul>
    </span>
    <!-- searchbox.input + searchbox. + menuItem.toString() | translate + searchbox.category -->
    <input type="text"
           id="menuItemCategory"
           class="form-control"
           placeholder=""
           keyup.enter="search()"
    />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-reset" click="reset()">{{ $t('searchbox.reset') }}</button>
      <button class="btn btn-default" type="button" click="search()">{{ $t('searchbox.go') }}</button>
    </span>
  </div>
</div>
