<div class="search-box">
  <div class="input-group search-input">
    <span class="input-group-addon" id="basic-addon1">
      <span>{{ $t('searchbox.iWant') }}</span>
      <b-dropdown size="sm" toggle-class="btn-default" :text="$t('searchbox.' + menuItem.getAction() + 'Action') + ' ▾'">
        <b-dropdown-item @click="changeMenuItemType('eat')">{{ $t('searchbox.eatAction') }}</b-dropdown-item>
        <b-dropdown-item @click="changeMenuItemType('drink')">{{ $t('searchbox.drinkAction') }}</b-dropdown-item>
      </b-dropdown>
    </span>
    <!--  -->
    <input type="text"
           class="form-control"
           :placeholder="$t('searchbox.input') + $t('searchbox.' + menuItem.toString()) + $t('searchbox.category')"
           v-model="menuItemCategory"
           @keyup.enter="search()"
    />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-reset" @click="reset()">{{ $t('searchbox.reset') }}</button>
      <button class="btn btn-default" type="button" @click="search()">{{ $t('searchbox.go') }}</button>
    </span>
  </div>
</div>
