/*-- NORMAL DISPLAY --*/
ul {
  list-style-type: none;
  margin-top: 0;
}
.cb-slideshow, .cb-slideshow:after {
  top: 0px;
  left: 0px;
  z-index: -1;
}
.cb-slideshow:after {
  content: "";
  background: transparent url(./assets/images/pattern.png) repeat top left;
}
.cb-slideshow li span {
  width: 100%;
  height: 771px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 18s linear infinite;
  -moz-animation: imageAnimation 18s linear infinite;
  -o-animation: imageAnimation 18s linear infinite;
  -ms-animation: imageAnimation 18s linear infinite;
  animation: imageAnimation 18s linear infinite;
}
.cb-slideshow li:nth-child(1) span {
  background-image: url(./assets/images/bg1.jpg);
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(./assets/images/bg2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(./assets/images/bg3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33.3333333% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33.3333333% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33.3333333% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33.3333333% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33.3333333% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

.banner {
  position: relative;
  background: rgba(0, 0, 0, 0.38);
  background-size: cover;
  padding: 1em 0 3em;
  text-shadow: 1px 1px #000000;
  min-height: 697px;
  z-index: 999999;
}
.banner-info {
  text-align: center;
  margin: 4em auto 4em;
  width: 65%;
}
.banner-info h2 {
  font-size: 50px;
  font-family: "Francois One", sans-serif;
  color: #ffffff;
  max-width: 718px;
  margin: 0;
}
.banner-info p {
  color: #c0c0c0;
  font-size: 1em;
  line-height: 1.8em;
  margin: 2em 0 0 0;
}
.banner-grad-img {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.banner-grad-img img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border: solid 8px #fff;
  cursor: pointer;
}
.banner-grad-img img:hover {
  border-color: #fd5c63;
}
.banner-grad-img h4 {
  margin: 1em 0 0 0;
  color: #fd5c63;
  font-size: 1.5em;
  font-family: "Francois One", sans-serif;
}
.banner-grad-img .storeDescription {
  font-weight: bold;
  color: #ccc;
}
.banner-grad-img p {
  color: #c0c0c0;
}
/*--// NORMAL DISPLAY --*/

/*-- DISPLAY: 991px --*/
@media (max-width: 991px) {
  .banner-info {
    width: 95%;
  }
  .banner-grad {
    float: left;
    width: 33.33%;
  }
  .banner-grad-img {
    width: 65%;
  }
}
/*--// DISPLAY: 991px --*/

/*-- DISPLAY: 640px --*/
@media (max-width: 640px) {
  .banner-info h2 {
    font-size: 3em;
  }
}
/*--// DISPLAY: 640px --*/

/*-- DISPLAY: 480px --*/
@media (max-width: 480px) {
  .logo h1 a img {
    width: 150px;
  }
  .banner-info {
    width: 100%;
    margin: 3em auto 3em;
  }
  .banner-info h2 {
    font-size: 2em;
  }
  .banner-grad-img h4 {
    font-size: 1em;
  }
  .banner {
    padding: 1em 0 2em;
  }
  .banner-grad-img img {
    border: solid 4px #fff;
  }
}
/*--// DISPLAY: 480px --*/

/*-- DISPLAY: 414px --*/
@media (max-width: 414px) {
  .banner-info {
    margin: 2em auto;
  }
  .banner-grad-img {
    width: 90%;
  }
  .banner-info p {
    margin: 1em 0 0 0;
  }
}
/*--// DISPLAY: 414px --*/

/*-- DISPLAY: 375px --*/
@media (max-width: 375px) {
  .banner-info h2 {
    font-size: 1.5em;
  }
}
/*--// DISPLAY: 375px --*/

/*-- DISPLAY: 320px --*/
@media (max-width: 320px) {
  .banner-info h2 {
    font-size: 1.4em;
  }
  .banner-info p {
    line-height: 1.5em;
  }
  .banner-grad-img {
    width: 100%;
  }
  .banner-grad-img h4 {
    font-size: 0.875em;
  }
  .banner-info {
    margin: 2em auto 1em;
  }
  .banner {
    padding: 1em 0 1em;
  }
}
/*--// DISPLAY: 320px --*/
