<div class="background">
  <ul class="cb-slideshow">
      <li><span>Image 01</span></li>
      <li><span>Image 02</span></li>
      <li><span>Image 03</span></li>
  </ul>
  <div class="banner">
    <div class="container">
      <div class="banner-info">
        <h2>{{ $t('home-page.header.title') }}</h2>
        <p>{{ $t('home-page.header.description') }}</p>
      </div>

      <!--gears-loading-spinner>
        loading-spinner.loading
      </gears-loading-spinner-->

      <div class="banner-grads">

        <div class="col-md-4 banner-grad" v-for="store in featuredStores">
          <div class="banner-grad-img">
            <router-link to="store.URI">
              <img :src="store.image" :alt="store.name" />
            </router-link>
            <h4>{{ store.name }}</h4>
            <p>
              <span class="storeDescription">{{ $t(store.category) }}</span>
              <br />{{ store.address }}, {{ store.city }}
            </p>
          </div>
        </div>

        <div class="clearfix"></div>

        <SearchBox />

      </div>
    </div>
  </div>
</div>
