<div id="reviews" class="customer">
  <div class="container">
    <div class="customer-heading">
      <h3>{{ $t('home-page.reviews.title') }}</h3>
    </div>
    <div class="customer-heading-grids">
      <div class="col-md-4 customer-grid">
        <div class="customer-info">
          <p>{{ $t('home-page.reviews.text1') }}</p>
        </div>
        <div class="customer-img">
          <img src="http://cdn.appicar.com/users/GnLdeKy6kmDhAkAkF.jpg" alt="Edgardo" />
          <h5>Edgardo</h5>
        </div>
      </div>
      <div class="col-md-4 customer-grid">
        <div class="customer-info">
          <p>{{ $t('home-page.reviews.text2') }}</p>
        </div>
        <div class="customer-img">
          <img src="http://cdn.appicar.com/users/to-add.jpg" alt="Carla" />
          <h5>Carla</h5>
        </div>
      </div>
      <div class="col-md-4 customer-grid">
        <div class="customer-info">
          <p>{{ $t('home-page.reviews.text3') }}</p>
        </div>
        <div class="customer-img">
          <img src="http://cdn.appicar.com/users/to-add2.jpg" alt="Fabricio" />
          <h5>Fabricio</h5>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
