<div id="reviews" class="customer">
  <div class="container">
    <div class="customer-heading">
      <h3 translate>home-page.reviews.title</h3>
    </div>
    <div class="customer-heading-grids">
      <div class="col-md-4 customer-grid">
        <div class="customer-info">
          <p>Etiam euismod leo in felis imperdiet, non interdum diam egestas. Aliquam non ex eget lorem vulputate auctor. Etiam
            sit amet nibh non tortor posuere mollis non vel velit. Praesent porttitor elit nec dapibus bibendum.</p>
        </div>
        <div class="customer-img">
          <img src="@/assets/images/c1.jpg" alt="" />
          <h5>Dapibus</h5>
        </div>
      </div>
      <div class="col-md-4 customer-grid">
        <div class="customer-info">
          <p>Etiam euismod leo in felis imperdiet, non interdum diam egestas. Aliquam non ex eget lorem vulputate auctor. Etiam
            sit amet nibh non tortor posuere mollis non vel velit. Praesent porttitor elit nec dapibus bibendum.</p>
        </div>
        <div class="customer-img">
          <img src="@/assets/images/c2.jpg" alt="" />
          <h5>Vulputate</h5>
        </div>
      </div>
      <div class="col-md-4 customer-grid">
        <div class="customer-info">
          <p>Etiam euismod leo in felis imperdiet, non interdum diam egestas. Aliquam non ex eget lorem vulputate auctor. Etiam
            sit amet nibh non tortor posuere mollis non vel velit. Praesent porttitor elit nec dapibus bibendum.</p>
        </div>
        <div class="customer-img">
          <img src="@/assets/images/c3.jpg" alt="" />
          <h5>Interdum</h5>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
