<div id="services" class="features">
  <div class="container">
    <div class="features-heading">
      <h3 translate>{{ $t('home-page.services.title') }}</h3>
    </div>
    <div class="features-grids">
      <div class="col-md-4 features-left">
        <div class="features-left-info">
        </div>
      </div>
      <div class="col-md-8 features-right">
        <div class="features-right-info">
          <h4 translate>{{ $t('home-page.services.description') }}</h4>
        </div>
        <div class="features-right-grids">
          <div class="features-right-left" :title="$t('home-page.services.more')">
            <div class="features-right-icon effect-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b>{{ $t('home-page.services.groupReservations1') }}</b>
              {{ $t('home-page.services.groupReservations2') }}
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="features-right-grids">
          <div class="features-right-left" :title="$t('home-page.services.more')">
            <div class="features-right-icon effect-2">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b>{{ $t('home-page.services.menu') }}</b>
              {{ $t('home-page.services.and') }}
              <b>{{ $t('home-page.services.order') }}</b>
              {{ $t('home-page.services.whatUWant') }}
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="features-right-grids">
          <div class="features-right-left" :title="$t('home-page.services.more')">
            <div class="features-right-icon effect-2">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b>{{ $t('home-page.services.pay') }}</b>
              {{ $t('home-page.services.cellphone') }}
              <i>{{ $t('home-page.services.cash') }}</i>,
              <i>{{ $t('home-page.services.credit') }}</i>,
              <i>{{ $t('home-page.services.bank') }}</i>,
              <i>{{ $t('home-page.services.networks') }}</i>
              {{ $t('home-page.services.and') }}
              <i>{{ $t('home-page.services.online') }}</i>.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="features-right-grids">
          <div class="features-right-left" :title="$t('home-page.services.more')">
            <div class="features-right-icon effect-2">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <p>
              <b>{{ $t('home-page.services.search') }}</b>.
              {{ $t('home-page.services.find') }}
              <i>{{ $t('home-page.services.proximity') }}</i>
              {{ $t('home-page.services.gps') }}
              <i>{{ $t('home-page.services.food') }}</i>
              {{ $t('home-page.services.or') }}
              <i>{{ $t('home-page.services.drink') }}</i>
              {{ $t('home-page.services.offered') }}.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
