/*-- NORMAL DISPLAY --*/
.response {
  margin: 1em 0;
  padding: 1em;
  background: #ffffff;
  border: solid 10px #eaf7fd;
}
.response h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
  color: #fd5c63;
  font-family: "Francois One", sans-serif;
}
.media.response-info {
  margin-top: 3em;
}
.media-left.response-text-left {
  width: 13%;
  float: left;
}
.media-left.response-text-left img {
  width: 80%;
}
.media-left.response-text-left h5 {
  color: #bbbbbb;
  font-weight: 600;
}
.response-text-left h5 {
  font-size: 1em;
}
.response-text-right p {
  color: #383838;
  font-size: 1em;
  margin: 0 0 1em;
  line-height: 1.8em;
}
.response-text-right ul {
  padding: 0;
  text-align: right;
}
.response-text-right ul li {
  display: inline-block;
  color: #afafaf;
  font-size: 1em;
  margin-right: 1em;
}
.response-text-right ul li a {
  color: #fd5c63;
  text-decoration: none;
}
.response-text-right ul li a:hover {
  color: #3b3b3b;
}
.media.response-info {
  margin-top: 1em;
}
.rating {
  color: white;
  text-shadow: 1px 1px 1px black, 0 0 0.2em darkgrey
}
.rating .fa.fa-star.active {
  color: #ffff00;
}
/*-- //NORMAL DISPLAY --*/
