<div id="stores" class="special">
  <div class="container">
    <div class="special-heading">
      <h3>{{ $t('home-page.stores.title') }}</h3>
    </div>

    <pulse-loader :loading="loading" />

    <div class="special-grids" v-if="!loading">
      <h4 v-if="menuItem">
        <span class="results" v-if="stores.length">
          {{ $t('home-page.stores.results') }}
          <b><i>{{ menuItem.getCategory() }}</i></b>
          {{ $t('home-page.stores.menues') }}
          {{ $t('home-page.stores.' + menuItem.toString()) }}{{ $t('home-page.stores.menuesResults') }}
        </span>
        <span class="no-results" v-else>
          {{ $t('home-page.stores.noResults') }}
          <b><i>{{ menuItem.getCategory() }}</i></b>
          {{ $t('home-page.stores.menues') }}
          {{ $t('home-page.stores.' + menuItem.toString()) }}{{ $t('home-page.stores.menuesNoResults') }}
        </span>
      </h4>
      <!-- Stores list -->
      <div class="col-md-4 w3l-special-grid" v-for="(store, i) in stores">
        <StoreBox :store="store" :rowOdd="isRowOdd(i)" />
      </div>
      <!-- /Stores list -->
      <div class="clearfix"></div>
      <div class="btn-container" v-if="moreButtonEnabled">
        <button class="btn-more" @click="showMore()">
          {{ $t('home-page.stores.more') }}
        </button>
      </div>
    </div>
  </div>
</div>
