<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="footer-heading">
        <h3 translate>footer.title</h3>
      </div>
      <div class="footer-icons">
        <ul>
          <li>
            <a href="#" class="twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <span>Twitter</span>
          </li>
          <li>
            <a href="#" class="twitter facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <span>Facebook</span>
          </li>
          <li>
            <a href="#" class="twitter chrome">
              <i class="fa fa-google-plus"></i>
            </a>
            <span>Google+</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
