<div id="contact" class="contact">
  <div class="container">
    <div class="contact-heading">
      <h2>{{ $t('home-page.contact.contact') }}</h2>
    </div>
    <div class="contact-form">
      <!-- Contact Form -->
      <vue-form-generator :schema="schema" :model="model" :options="formOptions" />
      <!--// Contact Form -->

      <!-- Alert Message -->
      <div class="alert-container" v-if="wasSent">
        <div role="alert" :class="{ 'alert alert-success': true, 'fadeout': isHidden }" v-if="wasSuccessful">
          <strong>{{ $t('home-page.contact.success.title') }}</strong>
          {{ $t('home-page.contact.success.description') }}
        </div>
        <div class="alert alert-danger" role="alert" v-else>
          <strong>{{ $t('home-page.contact.error.title') }}</strong>
          {{ $t('home-page.contact.error.description') }}:
          <a :href="'mailto:support@appicar.com?subject=' +
                    $t('home-page.contact.error.subject') +
                    '&body=' + $t('home-page.contact.error.body')"
          >
            support@appicar.com
          </a>!
        </div>
      </div>
      <!--// Alert Message -->
    </div>
  </div>
</div>
